# =============== #
# Unity generated #
# =============== #
/[Tt]emp/
/[Oo]bj/
/[Bb]uild
/[Ll]ibrary/
/[Ll]ogs/
/[Uu]serSettings/
/[Pp]rojectSettings/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/[Ee]xported[Oo]bj/
/*.vs/
/*.vsconfig/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.bin
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

*~HEAD
